// =========================================================================
//  Sass <3 Compass
//  File: main.scss
//  Description: Classes specific to the project
// =========================================================================

// =========================================================================
//  Imports of all  beautiful things
// =========================================================================
@import "imports/general.scss";


// =========================================================================
//  Grids Configs Default
// =========================================================================
$ninesixty-columns: 		24;
$ninesixty-grid-width: 		960px;
$ninesixty-gutter-width: 	10px;

//Comment when not use this
#page { 
	@include grid-system(24); 
	//@include animate(bounceInDown); #For include animation, more: http://thecssguru.freeiz.com/animate/ 
}

// =========================================================================
//  Global Definitions
// =========================================================================
body {
	background: 	$bgDefault;
	font-family: 	$fontFamily;
	font-size: 		$fontSize;
	color: 			#333;
}

// =========================================================================
//  Layout
// =========================================================================


// =========================================================================
//  Header
// =========================================================================


// =========================================================================
//  Content
// =========================================================================


// =========================================================================
//  Footer
// =========================================================================


// =========================================================================
//  Miscellaneous
// =========================================================================