// =========================================================================
//  Sass <3 Compass :p
//  File: main.scss
//  Description: Classes especificas ao projeto
// =========================================================================

// =========================================================================
//  Imports of all  beautiful things <3
// =========================================================================

// Compass 
@import "compass";
@import "compass/reset";

// Grid
@import "960/grid";

// Helpers
@import "helpers/_vars.scss";
@import "helpers/_reset.scss";
@import "helpers/_mixins.scss";
@import "helpers/_classes-default.scss";
@import "helpers/_classes.scss";


// =========================================================================
//  Grids Configs Default
// =========================================================================

$ninesixty-columns: 		24;
$ninesixty-grid-width: 		960px;
$ninesixty-gutter-width: 	10px;

#page { @include grid-system(24); }

// =========================================================================
//  Sprites/ Icons
// =========================================================================

$ico-layout:smart;
$ico-sprite-dimensions:true;
@import "sprites/ico/*.png";
@include all-ico-sprites;

// =========================================================================
//  Other Sprites
// =========================================================================

//$box-layout:smart;
//$box-sprite-dimensions:true;
//@import "sprites/example/*.png";
//@include all-example-sprites;


// =========================================================================
//  Global Definitions
// =========================================================================
body {
	background: $bgDefault;
	font-family: $fontFamily;
	font-size: $fontSize;
	color: #333;
}

// =========================================================================
//  Layout
// =========================================================================
#page {
	


// =========================================================================
//  Header
// =========================================================================


// =========================================================================
//  Content
// =========================================================================


// =========================================================================
//  Footer
// =========================================================================


// =========================================================================
//  Miscellaneous
// =========================================================================