.none           			{ display: none !important; }
.clear          			{ clear: both !important; }
.block           			{ display: block !important; }
.relative                   { position: relative !important; }
.centered					{ margin: 0 auto !important; text-align: center !important; }
.w100                       { width: 100% !important; }
.no-padding                 { padding: 0 !important; }
.no-margin                  { margin: 0 !important; }
.no-margin-left             { margin-left: 0 !important; }
.no-margin-right            { margin-right: 0 !important; }
.no-margin-bottom           { margin-bottom: 0 !important; }
.no-margin-top           	{ margin-top: 0 !important; }
.f-left, .col-esq 			{ float: left !important; }
.f-right, .col-dir 			{ float: right !important; }
