@mixin absolute($top: 0, $left:0) {
	position:absolute;
	top:$top;
	left:$left;
}

@mixin radius($size:5px){
	border-radius:$size; 
	-moz-border-radius:$size; 
	-webkit-border-radius:$size;
}
