* 				{ margin: 0; padding: 0; outline: none; }
a 				{ text-decoration: none; color: $color-link; }
a:hover         { text-decoration: underline; cursor: pointer; }
ul, ol          { list-style: none; }
textarea 		{ overflow: auto; }
strong 			{ font-weight: bold; }
p 				{ line-height: 15px; }