// =========================================================================
//  File:    vars.scss
//  Description: Variables default
// =========================================================================

// Colors
$white : #fff;
$red   : #f00;
$green : #0f0;
$blue  : #00f;

// Backgrounds
$bgDefault: $white;


// Links
$linkColor:      $blue;
$linkColorHover: $red;

// =========================================================================
//  Typography
// =========================================================================
$fontSize: 16px;
$fontFamily: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;


//  Headings
// =========================================================================


//Display & Box Model 
$padding: 		10px;
$margin: 		10px;

//Color 

//Text 
	

//Other 


//Variaveis do projeto 
	//Positioning 

	//Display & Box Model 
		$width-box: 200px;

	//Color
		$color-link:			#B05F03;
		$background: 			#000;

	//Text 
		$font: 14px;

	//Other 
